.container {
  width: 1230px;
  margin: 0 auto;
}

.header {
  display: flex;
  height: 84px;
  justify-content: space-between;
  align-items: center;
}

ul {
  width: 554px;
  display: flex;
  justify-content: space-between;
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 606px;
  background-image: url("../images/main.png");
  background-size: cover;
  background-color: red;
  align-items: center;
}
.first h1 {
  color: #fff;
  font-family: Helvetica;
  font-size: 79px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.first h6 {
  color: #fff;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sec-2 {
  padding-top: 84px;
  display: flex;
  justify-content: space-between;
}
.leftside {
  width: 235px;
}
.leftside h5 {
  color: #636060;
  font-family: Helvetica;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 9px;
}
.leftside h4 {
  color: #010101;
  font-family: Helvetica;
  font-size: 28px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 37px;
}
.leftside h6 {
  color: #636060;
  font-family: Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.rightside {
  width: 924px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.note {
  width: 286px;
  height: 312px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 56px;
}

.note h6 {
  color: #343232;
  font-family: Helvetica;
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.note p {
  color: #636060;
  font-family: Helvetica;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
